@import './../../../styles/variables.scss';

.days {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 15px;
	width: 100%;
	margin-bottom: 10px;
	background-color: var(#{--components-back-default});

	box-shadow: $box_shadow;
	border-radius: $b_radius;
	@media (max-width: 540px) {
		padding: 10px;
	}
}
.card {
	display: flex;
	flex-direction: column;
	background-color: var(#{--card-back-default});
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
	width: 149px;
	transition: 0.3s;
	@media (max-width: 540px) {
		width: 45%;
	}

	.day_name {
		margin-bottom: 7px;
		font-size: 18px;
		color: var(#{--text-color-default});
	}
	.day_info {
		font-size: 14px;
		margin-bottom: 12px;
		color: $base_col;
	}
	.img {
		margin-bottom: 12px;
	}
	.temp_day {
		font-size: 18px;
		color: var(#{--text-color-default});
	}
	.temp_night {
		font-size: 13px;
		color: $base_col;
		margin-bottom: 6px;
	}
	.info {
		font-size: 13px;
		color: $base_col;
	}

	/* &:hover {
		box-shadow: var(#{--card-shadow-default});
		transform: translateY(-3px);
	} */
}
